<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<head>
	<title>Cadastro de Setor</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" action="/setor" th:object="${setor}">
		
		<div layout:include="mensagem"></div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel"><span class="glyphicon glyphicon-home"></span> Novo setor</h1>
					<a class="btn btn-primary aw-link-panel" href="/setor/pesquisa">
					<span class="glyphicon glyphicon-search"></span> Pesquisar setor</a>
				</div>
			</div>

			<div class="panel-body">
				<input type="hidden" th:field="*{id}"/>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('sigla')} ? 'has-error'">
					<label for="sigla" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="sigla" th:field="*{sigla}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="unidade" class="col-sm-2 control-label">Unidade</label>
					<div class="col-sm-2">
						<select class="form-control" id="unidade" th:field="*{unidade}">
							<option th:each="unidade : ${unidades}"
								th:value="${unidade}" th:text="${unidade.descricao}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
							Salvar
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</section>
</html>