<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<head>
<title>Pesquisa Setor</title>
</head>

<section layout:fragment="conteudo">

	<div class="row">
		<div class="col-md-12">

			<div class="text-center alert alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}"></span>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title pull-left aw-titulo-panel"><span class="glyphicon glyphicon-search"></span> Pesquisar setor</h1>
						<a class="btn btn-primary aw-link-panel" href="/setor/novo">
							<span class="glyphicon glyphicon-home"></span> Cadastrar setor
						</a>
					</div>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="col-md-2">Código</th>
								<th>Nome</th>
								<th class="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="setor : ${setores}">
								<td th:text="${setor.sigla}"></td>
								<td th:text="${setor.nome}"></td>
								<td class="text-center">
									<a class="btn btn-link btn-xs"
										th:href="@{/setor/{codigo}(codigo=${setor.id})}"
										title="Editar" rel="tooltip" data-placemet="top"> <span
											class="glyphicon glyphicon-pencil"></span>
									</a>
									<a class="btn btn-link btn-xs" data-toggle="modal"
									title="Excluir" rel="tooltip" data-placemet="top"
									th:attr="data-codigo=${setor.id}, data-descricao=${setor.nome}">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
							</tr>

							<tr>
								<td colspan="6" th:if="${setores.empty}">Nenhum
									setor encontrado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

</html>
