<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Processamento</title>

<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/font-awesome.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<strong>Email: </strong>info@yourdomain.com &nbsp;&nbsp; 
					<strong>Telefone:</strong>+90-897-678-44
				</div>

			</div>
		</div>
	</header>
	<!-- HEADER END-->

	<!-- MENU SECTION END-->
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<hr />
						<br /> 
							<label> Matrícula : </label> 
							<input type="text" class="form-control" />
							
							<label> Senha : </label> 
							<input type="password" class="form-control" />
						<br />
						<hr />
						<a href="/processamento/index.html" class="btn btn-info"><span
							class="glyphicon glyphicon-user"></span> &nbsp;Entrar</a>&nbsp;
							
						<a href="/processamento/index.html"> Não tem cadastro?</a>
				</div>
				<div class="col-md-6">
					<div class="alert alert-info">
						Este sistema não é para uso comercial, é um modelo livre destinado apenas ao Hemocentro de Boa Vista - RR,
						<strong>Hemoraima</strong>.<br /> <strong>
						Algumas das suas características :</strong>
						<ul>
							<li>Projeto com design responsivo</li>
							<li>De fácil utilização e manutenção</li>
							<li>Código limpo</li>
							<li>Gerenciado pelo Processamento</li>
							<li>&copy; Todos os direitos reservados</li>
						</ul>

					</div>
					<div class="alert alert-success">
						<strong> Instruções de uso:</strong>
						<ul>
							<li>O serviço do sistema é para o controle de distribuição do Processamento</li>
							<li>Informa o estoque atual do processamento e das distribuições</li>
							<li>Usuário de outro setor pode ter acesso mediante autorização</li>
						</ul>

					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.1.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>
