<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<section layout:fragment="menu">
	<ul id="menu-top" class="nav navbar-nav navbar-right">
		<li><a href="/processamento/index"> <span class="glyphicon glyphicon-dashboard"></span> Estoque </a></li>
		<li><a href="/setor/novo"> <span class="glyphicon glyphicon-home"></span> Setor</a></li>
		<li><a href="/usuario/novo"> <span class="glyphicon glyphicon-user"></span> Usuário	</a></li>
		<li><a href="/processamento"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
	</ul>
</section>


</html>