<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<section layout:fragment="menu">
	<ul id="menu-top" class="nav navbar-nav navbar-right">
		<li><a href="/processamento/index"> <span class="glyphicon glyphicon-dashboard"></span> Estoque </a></li>
		<li><a href="/bolsa/novo"> <span class="glyphicon glyphicon-tint"></span> Sangue</a></li>
		<li><a href="/bolsa/novo"> <span class="glyphicon glyphicon-record"></span> Hemacia</a></li>
		<li><a href="/bolsa/novo"> <span class="glyphicon glyphicon-asterisk"></span> Plaquetas</a></li>
		<li><a href="/bolsa/novo"> <span class="glyphicon glyphicon-adjust"></span> Plasma</a></li>
		<li><a href="/distribuicao"> <span class="glyphicon glyphicon-retweet"></span> Distribuição</a></li>
		<li><a href="/solicitacao"> <span class="glyphicon glyphicon-envelope"></span> Solicitações</a></li>
<!-- 		<li><a href="/distribuicao/novo"> <span class="glyphicon glyphicon-book"></span> Histórico</a></li> -->
		<li><a href="/setor/novo"> <span class="glyphicon glyphicon-home"></span> Setor</a></li>
		<li><a href="/processamento"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
	</ul>
</section>


</html>