<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<head>
<title>Pesquisa de títulos</title>
</head>

<section layout:fragment="menu">
	<ul id="menu-top" class="nav navbar-nav navbar-right">
		<li>
			<a href="/processamento/index">
				<span class="glyphicon glyphicon-home"></span> Início
			</a>
		</li>
		<li>
			<a class="menu-top-active" href="/usuario/novo">
				<span class="glyphicon glyphicon-user"></span> Usuário
			</a>
		</li>
		<li>
			<a href=""><span class="glyphicon glyphicon-off"></span>
				Sair</a>
		</li>
	</ul>
</section>

<section layout:fragment="conteudo">

	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">
				<span class="glyphicon glyphicon-search"></span> Pesquisa usuários</h1>
				<a class="btn btn-primary aw-link-panel" href="/usuario/novo">
				<span class="glyphicon glyphicon-plus"></span> Novo usuário</a>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-2">Matrícula</th>
						<th>Nome</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td class="text-center" th:text="${usuario.matricula}">1</td>
						<td th:text="${usuario.nome}"></td>
						<td class="text-center">
							<span class="label" th:text="${usuario.statusUsuario.descricao}"
							th:classappend="${usuario.solicitado ? 'label-primary' : 'label-success'}"></span>
						</td>
					</tr>
					
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(usuarios)}">Nenhum usuário encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

</html>
